@charset "utf-8";

/* 모바일 맵 grab */
#map {
    width: 100%;
    height: 100vh;
    touch-action: none;
}

/* 헤더 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #ffffffb8;
    height: 35px;
    line-height: 35px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.header_title {
    text-align: center;
    font-weight: 500;
    color: #333;
    font-size: 14px;
}

.header_title {
    position: absolute;
    width: 102px;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
}

.header_title img {
    width: 100%;
}

.header_right {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
    transition: ease-in-out 0.2s;
}

.header_right img {
    width: 100%;
}

.header_right:hover {
    filter: drop-shadow(0px 0px 2px #3333334f);
    transition: ease-in-out 0.2s;
    filter: brightness(125%);
}

/* 멤버 필터 버튼 */
/* 버튼 스타일 */
.filter_btn {
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 10;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.filter_btn button {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
    box-sizing: border-box;
    color: #333;
    padding: 5px 13px 7px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 4px;
}

.filter_btn button.active,
.filter_btn button:hover {
    background-color: #333;
    color: white;
}

.filter_btn .text_btn {
    padding: 6px 11px 7px 12px;
}

.filter_btn .text_btn.last_margin {
    margin-right: 20px;
}



/* 지도 마커 */
.overlay_info {
    border-radius: 6px;
    margin-bottom: 12px;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 1px 2px #888;

}

.map_go:hover {
    transition: ease-in-out 0.2s;
    filter: brightness(125%);
}

.overlay_info a {
    display: block;
    background: #0059ff;
    background: #0059ff url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
    color: #fff;
    padding: 10px 23px 10px 10px;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
}

.overlay_info a strong {
    padding: 10px 24px;
}

.overlay_info a strong.def_place {
    background: url(../img/DC_cate_icon/icon_dc.png?ver) no-repeat left center;
    background-size: 19px;
}


.overlay_info a strong.food_place {
    background: url(../img/DC_cate_icon/icon_food.png) no-repeat left 0 center;
    background-size: 19px;
}

.overlay_info a strong.cafe_place {
    background: url(../img/DC_cate_icon/icon_cafe.png) no-repeat left 0 center;
    background-size: 19px;
}

.overlay_info a strong.culture_place {
    background: url(../img/DC_cate_icon/icon_culture.png) no-repeat left 0 center;
    background-size: 19px;
}

.overlay_info a strong.drinks_place {
    background: url(../img/DC_cate_icon/icon_drinks.png) no-repeat left 0 center;
    background-size: 19px;
}


/* 포지션없애기 */
.overlay_info .desc {
    position: relative;
    padding: 8px;
    min-width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
}

.thum_wrap {
    width: 90px;
    min-width: 90px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.thum_wrap .thum_img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    box-sizing: border-box;
}

.overlay_info .mem_cate_wrap {
    position: absolute;
    left: 105px;
    font-size: 10px;
    top: 10px;
}

.overlay_info .mem_cate_wrap span {
    display: inline-block;
    margin-left: 3px;
    background-color: #0059ff1a;
    color: #0059ff;
    padding: 0 6px;
    height: 16px;
    border-radius: 8px;
    line-height: 17px;
    white-space: normal;
}

.overlay_info .mem_cate_wrap span:first-child {
    margin-left: 0;
}

/* 이부분하기 */
.overlay_info .detail {
    font-size: 13px;
    color: #333;
    word-break: break-word;
    text-align: left;
    margin-left: 10px;
    max-width: 190px;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    line-height: 17px;
    white-space: pre-wrap;
    vertical-align: top;
    height: 35px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


.play_btn {
    position: absolute;
    bottom: -15px;
    right: -10px;
    display: inline-block;
    filter: drop-shadow(0px 0px 3px #33333393);
    transition: ease-in-out 0.2s;
}

.play_btn:hover {
    filter: drop-shadow(0px 0px 3px #303030);
    transition: ease-in-out 0.2s;
}

.play_btn img {
    width: 30px;
}

.overlay_info:after {
    content: '';
    position: absolute;
    margin-left: -11px;
    left: 50%;
    bottom: -11px;
    width: 22px;
    height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png) no-repeat 0 bottom;
}

/* 댓글 */
.comments_btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 500;
    filter: drop-shadow(0px 0px 3px #33333393);
    transition: ease-in-out 0.2s;
}

.comments_btn img {
    width: 50px;
}

.comments_btn:hover {
    filter: drop-shadow(0px 0px 3px #001e55);
    transition: ease-in-out 0.2s;
}


/* Tb. Ver. */
@media (max-width:768px) {
    .filter_btn button {
        font-size: 14px;
    }
}

/* 팝업 */
.popup_wrap_inner {
    position: fixed;
    z-index: 900;
    width: 100%;
    display: none;
    /* 숨겨놓고 JS와 쿠키로 보임/숨김 실행 */
}

/* 팝업닫기 */
.close_btn {
    position: fixed;
    z-index: 9999;
    top: 9%;
    left: 50%;
    transform: translateX(130px);
    width: 30px;
    transition: ease-in-out 0.2s;
}

.close_btn:hover {
    filter: drop-shadow(0px 0px 2px #333333a4);
    transition: ease-in-out 0.2s;
}

.close_btn img {
    width: 100%;
}

.guide_slide_wrap {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
    z-index: 999;
    height: 465px;
    /* height: 100vh; */
}

.guide_slide_wrap div:first-child {
    display: block !important;
}

.guide_slide_wrap.slick-initialized {
    display: block;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    overflow: auto;
}

/* pagination 수정 */

.swiper-pagination {
    position: fixed !important;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: 30px !important;
}

.bk_common_bg {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 12;
    width: 100%;
}

/* 슬라이드 박스 안 */
.guide_box {
    background-color: #ffffffef;
    filter: drop-shadow(0px 0px 2px #333);
    border-radius: 15px;
    width: calc(100% - 10px);
    padding: 35px 0 41px 0;
    margin: 0 auto;
}


.guide_tit {
    font-size: 23px;
    line-height: 25px;
    font-weight: 900;
    color: #333;
    margin-bottom: 10px;
    white-space: pre-line;
    padding: 0 15px;
}

.col_big {
    color: #0059ff;
    font-weight: inherit;
}

.sub_text {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.g_img_wrap {
    width: 100%;
    text-align: center;
    display: inline-block;

}

.g_img_wrap img {
    width: 100%;
}

.mini_text {
    font-size: 11px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 16px;
    font-weight: 400;
    color: #666;
}