@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

body,
html {
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;
    letter-spacing: -0.025rem;
    color: #333;
}

a {
    display: block;
    color: #333;
    text-decoration: none;
    letter-spacing: -0.025rem;
}

p {
    letter-spacing: -.025rem;
    color: #333;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    border: 0;
}